.container {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center; 
}

.card {
  width: 200px;         
  height: 100px;         
  background-color: rgb(230, 173, 173);
  margin: 10px;          
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}