* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f7f7f7;
  color: #333;
}
header {
  text-align: center;
  padding: 35px 15px;
  background: #0066cc;
  color: white;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.slogan {
  font-size: 1.1rem;
  opacity: 0.9;
}

nav {
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 12px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffdd88;
}

.container {
  max-width: 1100px;
  margin: 10px auto;
  text-align: center;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: #003366;
}
.quem-somos-box {
  background: white;
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  border-radius: 14px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

.quem-somos-box p {
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.05rem;
}

.quem-somos-box h3 {
  margin-top: 25px;
  font-size: 1.4rem;
}

.quem-somos-box ul {
  list-style: none;
  margin-top: 10px;
}

.quem-somos-box li {
  font-size: 1rem;
  padding: 4px 0;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #0066cc;
  color: white;
}

tr:hover td {
  background: #f1f1f1;
}
.equipe-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  width: 220px;
  padding: 15px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%; 
  margin-bottom: 15px;
}

.card h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #003366;
}

.card p {
  color: #444;
}

form {
  background: white;
  padding: 25px;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 14px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #0066cc;
  color: white;
  cursor: pointer;
  transition: .3s;
  font-size: 1rem;
}

button:hover {
  background: #004999;
}


#contato p {
  margin: 6px 0;
}

footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 25px 10px;
  margin-top: 60px;
  font-size: 0.9rem;
}

