.container {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 200px;
  width: 200px;
  background: lightgray;
}

.item {
  background: steelblue;
  color: white;
  padding: 20px;
}